* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

/* Quiz box styling */ 
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-flow: column wrap;
}

.quiz-box {
    width: 600px;
    margin: 0 auto;
    background-color: grey;
    padding: 1rem 5rem 5 rem 5rem;
    border: 3px solid;
    border-radius: 5px;
}

#highscores {
    background-color: aquamarine;
    font-size: 4rem;
    text-align: center;
    color: white;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;
}

.quiz-box {
    background-color: aquamarine;
    font-size: 4rem;
    text-align: center;
    color: white;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;
}

.hidden {
    display: none;
}

.quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-header #progress {
    color: green;
    font-size: 1.6rem;
    font-weight: 70;
}

.quiz-header #count-down {
    font-size: 1.6rem;
    font-weight: 700;
    background-color: brown;
    padding: 5px;
    margin: 1px;
    color: greenyellow;
    border-radius: 3px;
}

.quiz-box #question {
    font-size: 1.8rem;
    font-weight: 600;
    color: blueviolet;
    border: 1px solid cornflowerblue;
    border-width: 1px 0;
    padding: 5px 0;
}

/* Application buttons */
.buttons {
    margin: 1.5rem 0 4rem 0;
}

.btn {
    text-align: left;
    background-color: lightcoral;
    width: 100%;
    font-size: 1.8rem;
    color: black;
    border: 1px solid;
    border-radius: 5px;
    margin: 7px 0;
    padding: 1rem;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    background-color: lightseagreen;
    color: white;
}

.btn:active {
    background-color: rgb(0, 121, 50);
}

#score {
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 4rem;

}

.quiz-repeat {
    text-align: center;
    margin: 0 auto;
}

.quiz-repeat a {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 1rem;
    border-radius: 5px;
    transition: all .3s;
}

.quiz-repeat a:hover{
    background-color: lightpink;
}